@model PodcastTracking.Web.Models.PodcastViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Title</h2>
<p>@Model.Description</p>
<h3>Episodes</h3>
<div class="row">
    @{var count = 0;}
    @foreach (var episode in Model.Episodes)
    {
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@episode.Title</h3>
                </div>
                <div class="panel-body">
                    <p>@MvcHtmlString.Create(@episode.Description)</p>
                    <button class="btn btn-primary" type="button">
                        <a href="/download/track?urlToTrack=@episode.EpisodeDownloadUrl" target="_blank" style="color:#fff;">Download</a>
                    </button>
                    <button class="btn btn-primary" type="button">
                        Downloads <span class="badge">@episode.Downloads.Count</span>
                    </button>
                    <button class="btn btn-primary" type="button">
                        @Html.ActionLink("Download Details", "downloads", new { @id = @episode.EpisodeId }, new { @style="color:#fff;" })
                    </button>
                </div>
            </div>
        </div>
        count++;
        if (count == 2)
        {
            @:<div class="clearfix"></div>
            count = 0;
        }
    }
</div>